@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
  font-family: "WorkSans";
  src: url('../../priv/static/fonts/WorkSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url('../../priv/static/fonts/WorkSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}